---
Language: Cpp
BasedOnStyle: WebKit
ColumnLimit: 100
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
AlwaysBreakTemplateDeclarations: Yes
CompactNamespaces: true
NamespaceIndentation: None
SpaceBeforeCpp11BracedList: false
Cpp11BracedListStyle: true
IndentCaseLabels: true
FixNamespaceComments: true
BreakInheritanceList: BeforeComma
...
